<footer role="contentinfo">
   <ul class="three-column clearfix">
          <li class="column clearfix">
              <p>Passionate about helping you tell your story and expand your reach.</p>
          </li>
          <li class="column clearfix">
<p class="cta">If you want to work together,<br>you can <a href="mailto:jake@shoeinthedoor.com">get in touch</a>.</p>

<p class="cta smaller">You should follow me on twitter <a href="http://twitter.com/j8ke">here</a>.</p>
        </div>
          </li>
          <li class="column clearfix">
             <p><strong>Why shoe in the door?</strong> It's a <a href="http://www.gcc.edu">Grove City College</a> thing.</p>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/3.0/us/80x15.png" /></a>

          </li>
      </ul>
</footer>
