<!doctype html>
<html lang="en-us" xmlns:fb="https://www.facebook.com/2008/fbml" xml:lang="en" xmlns="https://www.w3.org/1999/xhtml">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="container clearfix listing">
    {{ content }}
  </div> <!-- /.container -->

  {% include footer.html %}
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="/js/site.js"></script>
</body>
</html>
